.App{
    text-align: center;
}
.searchbar {
    margin-bottom: 20px;
}
.searchbarInput {
    padding: 8px;
}
.pokemonList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}